<button mat-raised-button (click)="openDialog()">click</button>

<h1 class="text-center">environment works</h1>
<div ng-content class="container text-center" style="margin: 20px" *ngIf="Env">
  <form
    [formGroup]="environment"
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    (change)="changeCity($event)"
  >
    <div class="d-flex" style="width: 400px" *ngIf="isSubmitted">
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="environmentName"
      >
        <option selected>--select--</option>
        <option *ngFor="let drop of dropdown">
          {{ drop }}
        </option>
      </select>
      <div>
        <button type="submit" class="btn btn-success" style="margin-left: 10px">
          Submit
        </button>
      </div>
    </div>
    <span
      *ngIf="!this.environment.valid"
      style="color: red; margin-right: 60px"
      >{{ value }}</span
    >
  </form>
</div>
