<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shoppinglist></app-shoppinglist>
    < /div>
  </div>
</div> -->
<!-- <body>
  <input type="text" [(ngModel)]="_counter"  placeholder="value" />
<app-home [counter]="_counter"></app-home>
<app-home #ch></app-home><button (click)="ch.counter=100" >
  Update</button>

 <h2>change the value of the viewChild element</h2><button (click)="change()">change</button>
</body> -->

<!--  "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css", -->
<router-outlet></router-outlet>

<!-- <div [ngClass]="flag ? 'primary' : 'secondary'">
  <button (click)="flag = !flag" class="btn btn-dark">
    change color by ng class
  </button>
  <h1>change color of me</h1>
</div>
<div class="container-fluid" *ngFor="let mark of marks">
  <h2 [ngClass]="changeColor(mark)">{{ mark }}</h2>
</div>
<svg>
  <circle cx="50" cy="50" r="20" fill="green"></circle>
</svg> -->
